Django==3.2.18
psycopg2==2.9.3
django-tastypie==0.14.4
django-cors-headers==3.13.0
django-extensions==3.1.5
django-debug-toolbar==3.5.0
requests==2.28.0
simplejson==3.17.6
pyparsing==2.4.7

# Use our version of django-tastypie-swagger, the official one has been abandoned
git+https://github.com/bmampaey/django-tastypie-swagger.git

# Tastypie optional packages
defusedxml==0.7.1
lxml==4.9.0
biplist==1.0.3

# For the FUSE filesystem
fusepy==3.0.1

# For converting images and FITS files to png
astropy==5.1
numpy==1.23.0
Pillow==9.1.1

# For testing
coverage==6.4.1
