Django>=1.9.1
django-cors-headers>=1.1.0
django-debug-toolbar>=1.4
django-extensions>=1.6.1
django-tastypie>=0.13.3
django-tastypie-swagger>=0.1.4
django-picklefield
fusepy>=2.0.2
psycopg2>=2.5.4
pyfits>=3.3
pytz>=2014.10
requests>=2.2.1
sunpy>=0.6.1
suds
