{% block content %}
<div class="data_selection_create">
	<form action="{% url 'data_selection_create' %}" method="post">
	{% csrf_token %}
		{{ form.as_p }}
		{% if previous_user_data_selection_names %}
		<p>
		<label for="id_previous_user_data_selection_name">or select a previous one:</label>
		<select id="id_previous_user_data_selection_name">
			<option value="blank" disabled selected></option>
			{% for name in previous_user_data_selection_names %}
			<option value="{{ name }}">{{ name }}</option>
			{% endfor %}
		</select>
		</p>
		{% endif %}
		<div class="actions">
			<button type="submit" class="create_data_selection" title="Create data selection">Create data selection</button>
		</div>
	</form>
</div>
{% endblock %}
