{% extends "wizard/base.html" %}

{% block content %}
<div id="accordion">
   <h3>Login</h3>
   <div>
    	Login form
   </div>
   <h3>Search by dataset</h3>
   <div>
    	search by dataset form
   </div>
      <h3>Search across datases</h3>
   <div>
    	search across dataset form
   </div>
   <h3>Search eit dataset
		<span style="float:right;" class="close_button">Close</span>
   </h3>
   <div>
    eit search form
   </div>
</div>
<script type="text/javascript">
 $("#accordion").accordion();

 $(".toolbar a").live("click", function() { 
  window.location($(this).attr("href")); 
 }); 
 $( ".close_button" ).button({
      icons: {
        primary: "ui-icon-closethick"
      },
      text: false
    });
</script>
{% endblock %}
