{% extends "wizard/base.html" %}

{% block content %}
<div id="login_box" class="ui-state-highlight dialog_box ui-dialog ui-widget ui-widget-content ui-corner-all ui-front">
Welcome to the SOLARNET Data Archive. To use the web application, please provide your email adress.
<form id="login_form" action="{% url 'login_form' %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="actions">
		<button type="submit" id="login" title="Log in the application">Login</button>
	</div>
</form>
</div>
{% endblock %}
