{% block content %}
{% load getattr %}
{% load querystring %}
<table class="data_selections" summary="Data Selection List">
	<thead>
		<tr>
			<th># Items</th>
			<th>Dataset</th>
			<th>Added</th>
			<th>Search criteria</th>
		</tr>
	</thead>
	<tbody>
		{% for data_selection in user_data_selection.data_selections.all %}
		<tr class='clickable' href="{% url 'data_selection' data_selection.id %}">
			<td>{{ data_selection.number_items }}</td>
			<td>{{ data_selection.dataset.name }}</td>
			<td>{{ data_selection.created }}</td>
			{% if data_selection.query_string %}
			<td>{{ data_selection.query_string|querystring }}<hr></td>
			{% else %}
			<td>None</td>
			{% endif %}
			
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

