{% block content %}
{% load getattr %}
{% if user_data_selection_list %}
<table class="search_results_table" summary="User Data Selection List">
	<thead>
		<tr>
			<th># Items</th>
			{% for keyword, header in table_columns.items %}
			<th>{{ header }}</th>
			{% endfor %}
			<th>Datasets</th>
		</tr>
	</thead>
	<tbody>
		{% for user_data_selection in user_data_selection_list %}
		<tr class='clickable' href="{% url 'user_data_selection' user_data_selection.id %}">
			<td>{{ user_data_selection.number_items }}</td>
			{% for keyword, header in table_columns.items %}
			<td>{{ user_data_selection|getattr:keyword }}</td>
			{% endfor %}
			<td>{{ user_data_selection.dataset_names|join:", " }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% elif message %}
<p>{{ message }}</p>
{% else %}
<p>You haven't made any data selection yet.</p>
{% endif %}

{% endblock %}

