{% extends "admin/base.html" %}

{% block title %}SDA {{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img alt="SolarNet" src="http://tiepolo.ll.iac.es/solarnet/images/LOGOS/SOLARNET/solarnet_blanco_1000x250_trans.png" style="max-width:100px; margin-top: -7px;">SolarNET Data Archive</a></h1>
{% endblock %}

{% block footer %}<div id="footer">This Application was supported by the <a href="http://www.solarnet-east.eu">SOLARNET</a> project, funded by the European Commission’s FP7 Capacities Programme under the Grant Agreement 312495.</div>{% endblock %}
