<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js">
	</script>
	<script src="/static/wizard/angular/controller.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body ng-app="SVOapp" ng-controller="SVOcontroller">
	<accordion close-others="true">
		<accordion-group heading="Search by dataset" is-open="accordion_status.first_opened">
			<table>
				<tr><th>Dataset</th></tr>
				<tr ng-repeat="dataset in datasets" ng-click="dataset.is_hidden = false; accordion_status[dataset.id] = true;">
					<td>{{dataset.name}}</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Search across datasets">
			Search across datasets
		</accordion-group>
		<accordion-group heading="User selections" is-open="accordion_status.user_selections_opened">
			<table>
				<tr><th># Items</th><th>Name</th><th>Date of creation</th><th>Last update</th><th>Datasets</th></tr>
				<tr ng-repeat="user_data_selection in user_data_selections" ng-click="">
					<td>{{user_data_selection.name}}</td>
					<td>{{user_data_selection.name}}</td>
					<td>{{user_data_selection.created | date : "yyyy-MM-dd HH:mm" }}</td>
					<td>{{user_data_selection.updated | date : "yyyy-MM-dd HH:mm" }}</td>
					<td>{{user_data_selection.name}}</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group ng-repeat="dataset in datasets" ng-hide="dataset.is_hidden" is-open="accordion_status[dataset.id]">
		<accordion-heading>
			Search {{ dataset.name }}
			<span popover="{{dataset.description}}" popover-placement="right" popover-trigger="mouseenter" class="glyphicon glyphicon-info-sign"></span>
			<span class="pull-right glyphicon glyphicon-remove-sign" ng-click="dataset.is_hidden = true;"></span>
		</accordion-heading>
			Search {{ dataset.name }}
		</accordion-group>
	<accordion>
</body>
</html>


